.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

video::-webkit-media-controls {
  border: none !important;
  outline: none !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(117, 113, 113);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-input::placeholder,
.ant-input-affix-wrapper input::placeholder,
.ant-input-affix-wrapper .ant-input::placeholder,
.custom-input input::placeholder,
.custom-input .ant-input::placeholder {
  color: #ffffff !important;
  opacity: 1 !important;

}


::-webkit-scrollbar {
  width: 4px;
  min-height: 2px;
  max-height: 5px;

}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  opacity: 0.9;

  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: #292929;
  opacity: 0.4;

}

.scrollbar-left {
  direction: rtl;

}

.scrollbar-left>* {
  direction: ltr;

}

.shadow-custom {
  box-shadow: 1px 2px 3px rgb(179, 179, 179);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;

}